@font-face {
    font-family: 'RosemaryPrint';
    src: url('RosemaryPrint.otf') format('opentype');
}

@font-face {
    font-family: 'RosemarySpaced';
    src: url('RosemarySpaced.otf') format('opentype');
}

body {
    font-family: 'RosemaryPrint', sans-serif;
    text-align: center;
    padding: 7vh;
}

h1 {
    color: #333;
    font-weight: normal;
    font-family: 'RosemarySpaced', sans-serif;
    font-size: 4em;
}

a {
    text-decoration: none;
    font-size: 2em;
}
